body {
    background-color: #5b6562;
}
h1 {
  color: #005a3c;
  font-family: arial narrow;
  font-size: 175%;
}
h2 {
  color: #ffa272;
  font-family: trebuchet ms;
  font-size: 120%;
}
p#p01 {
 color: #383838;
 font-family: times roman;
 font-size: 115%;
}
p#p02 {
     color: #872e00;
     font-family: arial;
     font-size: 80%;
}
p#p03 {
     color: #383838;
     font-family: arial;
     font-size: 70%;
}
p#p04 {
     color: #383838;
     font-family: arial;
     font-size: 80%;
}
p#p05 {
     color: #383838;
     font-family: times roman;
     font-size: 100%;
}
p#p06 {
     font-family: arial narrow;
     font-size: 175%;
     line-height: 0;
}
ul {
  color: #383838;
  font-family: arial;
  font-size: 80%;
}
ol {
  color: #383838;
  font-family: arial;
  font-size:80%;
}
a:link {
      color: #872e00;
      text-decoration: none;
}
a:visited {
         color: #005a3c;
         text-decoration: none;
}
a:hover {
       color: #ffa272;
       text-decoration: none;
}
a:active {
        color: #ab987a;
        text-decoration: none;
}
table#table01 {
             font-family: times roman;
             font-size: 115%;
}
td {
  height: 30px;
}



◄




